
@font-face {
  font-family: 'Sentinel-Black';
  src: url('Sentinel-Black.eot?#iefix') format('embedded-opentype'),  url('Sentinel-Black.otf')  format('opentype'),
	     url('Sentinel-Black.woff') format('woff'), url('Sentinel-Black.ttf')  format('truetype'), url('Sentinel-Black.svg#Sentinel-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
