/*
Theme Name: RapJab
Theme URI: http://wordpress.org/themes/twentythirteen
Author: Földesi Attila - RapJab
Author URI: http://www.foldesiattila.com/
Description: Bootstrap 3 theme made by RapJab
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'GothamBook';
font-family: 'Gotham-Black';
font-family: 'Gotham-Bold';
font-family: 'Gotham-Medium';
font-family: 'Gotham-MediumItalic';
font-family: 'Sentinel-BoldItalic';
font-family: 'HelveticaNeue-CondensedBlack';
font-family: 'HelveticaNeue-CondensedBold';
font-family: 'Sentinel-MediumItalic';
font-family: 'Sentinel-Medium';
font-family: 'Sentinel-Black';

*/

@import url('fonts/Gotham-Black/styles.css');
@import url('fonts/Gotham-Bold/styles.css');
@import url('fonts/GothamBook/styles.css');
@import url('fonts/Gotham-Medium/styles.css');
@import url('fonts/Gotham-MediumItalic/styles.css');
@import url('fonts/Sentinel-MediumItalic/styles.css');
@import url('fonts/Sentinel-BoldItalic/styles.css');
@import url('fonts/Sentinel-Medium/styles.css');
@import url('fonts/Sentinel-Black/styles.css');
@import url('fonts/HelveticaNeue-CondensedBlack/styles.css');
@import url('fonts/HelveticaNeue-CondensedBold/styles.css');
@import url('css/jquery.bxslider.css');
@import url('css/isotope.css');
@import url('css/datepicker/jquery-ui.css');
@import url('css/responsive.css');

body {
	background: #181716 !important;
	padding-top: 110px;
}

body.home {
	padding-top: 0 !important;
}

#header-wrap {
	padding: 12px 0 10px 0;
	width: 100%;
	height: 110px;
	border-bottom: 3px solid #b48556;
	position: fixed;
	z-index: 50000;
	background: #181716;
	top: 0;
}

#logo {
	width: 76.36%;
	height: auto;
	display: block;
}

#logo img {
	width: 100%;
	height: auto;
}

#header_info {
	font-size: 14px;
	font-family: 'Sentinel-MediumItalic';
	color: #b58656;
	margin-bottom: 25px;
	padding-top: 10px;
	text-align: right;
}

#header_info a {
	color: #b58656!important;
}

.hsoc {
	display: inline-block;
	margin-left: 1%;
	background-repeat: no-repeat;
	background-position: right center;
	width: 29px;
	height: 21px;
	position: relative;
	top: 6px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.hsoc:hover {
	top: 3px;
}

#htw {
	background-image: url('images/tw.png');
	background-size: 10.5px auto;
}

#hfb {
	background-image: url('images/fb.png');
	background-size: 6px auto;
}

#hpt {
	background-image: url('images/pt.png');
	background-size: 9px auto;
}

#hig {
	background-image: url('images/ig.png');
	background-size: 11px auto;
}

#hmail {
	background-image: url('images/mail.png');
	background-size: 14.5px auto;
}

#mainmenu {
	text-align: right;
}

#mainmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#mainmenu ul li {
	display: inline;
	padding: 0 1.5%;
}

#mainmenu ul li:last-child {
	padding-right: 0 !important;
}

#mainmenu ul li a {
	color: #cca072;
	font-size: 14px;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
	padding: 0 0 5px 0;
	border-bottom: 2px solid transparent;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none !important;
}

#mainmenu ul li a:hover, #mainmenu ul li.current_page_item a {
	border-color: #fff;
	color: #fff;
	text-decoration: none;
}

#footer-wrap {
	padding: 100px 0 70px 0;
	border-bottom: 2px solid #4c4946;
}

#footer .widget-title {
	color: #dfdfdf;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Gotham-Bold';
	margin: 0 0 25px 0;
	padding: 0;
}

.footer_text {
	font-family: 'Sentinel-Medium';
	font-size: 15px;
	line-height: 24px;
	color: #6c6c6c;
	margin: 0 0 40px 0;
}

.fsoc {
	display: inline-block;
	margin-right: 8.29%;
	background-repeat: no-repeat;
	background-position: center center;
	width: 19.5px;
	height: 15.5px;
	position: relative;
	top: 6px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.fsoc:hover {
	top: 3px;
}

#ffb {
	background-size: 8.5px auto;
	background-image: url('images/ffb.png');
}

#ftw {
	background-size: 15.5px auto;
	background-image: url('images/ftw.png');
}

#fpt {
	background-size: 12.5px auto;
	background-image: url('images/fpt.png');
}

#fig {
	background-size: 15.5px auto;
	background-image: url('images/fig.png');
}

#fmail {
	background-size: 19.5px auto;
	background-image: url('images/fmail.png');
}

.footer_contact_widget_content h4 {
	font-size: 15px;
	font-family: 'Sentinel-MediumItalic';
	font-weight: normal;
	margin: 0 0 25px 0;
	padding: 0;
	color: #fff;
}

.footer_phone {
	display: block;
	color: #aaa9a8;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 18px;
	padding-left: 50px;
	background: url('images/footer_phone.png') no-repeat left center;
	background-size: 15.5px auto;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.footer_email {
	display: block;
	color: #aaa9a8;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 18px;
	padding-left: 50px;
	background: url('images/footer_mail.png') no-repeat left center;
	background-size: 15.5px auto;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-transform: uppercase;
}

.footer_phone:hover, .footer_email:hover {
	color: #fff;
	text-decoration: none;
}

#footer-bottom-wrap {
	padding: 25px 0;
	color: #999;
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

#footer-bottom-wrap a {
	color: #999;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#footer-bottom-wrap a:hover {
	color: #fff;
	text-decoration: none;
}

#info_wrapper {
	background: #cca072;
	border-top: 2px solid #766049;
	border-bottom: 2px solid #766049;
}

#info_1 {
	float: left;
	width: 15.38%;
	margin: 0 4.44% 0 1.28%;
	padding: 15px 0 8px;
}

#info_1 img {
	width: 100%;
	height: auto;
}

#info_2 {
	float: left;
	width: 28.63%;
	padding: 15px 1.28%;
	border-left: 1px solid #766049;
	border-right: 1px solid #766049;
}

.footer_address {
	font-size: 15px;
	color: #584939;
	text-transform: uppercase;
	margin: 0 0 12px 0;
	padding: 0 0 15px 0;
	background: url('images/dotted_border_horizontal.png') repeat-x 0 bottom;
	background-size: 11px 3px;
	font-family: 'HelveticaNeue-CondensedBlack';
}

#reservation_link {
	width: 100%;
	display: block;
}

#reservation_link img {
	width: 100%;
	height: auto;
}

#info_3 {
	float: left;
	width: 43.58%;
	padding: 10px 0 10px 2.99%;
}

#info_3_top {
	margin-bottom: 7px;
}

.open_days {
	display: block;
	font-size: 24px;
	font-family: 'HelveticaNeue-CondensedBold';
	color: #584939;
	text-transform: uppercase;
}

.open_times {
	display: block;
	font-size: 18px;
	color: #8e6438;
	font-family: 'Sentinel-MediumItalic';
}

#info_3_top .col-sm-4 {
	background: url('images/dotted_border.png') repeat-y right top;
	background-size: 3px auto;
}

#info_3_top .col-sm-4:last-child {
	background: none !important;
}

#info_3_bottom_top {
	font-size: 15px;
	color: #584939;
	text-transform: uppercase;
	font-family: 'HelveticaNeue-CondensedBold';
	padding: 0 0 10px 0;
	margin-bottom: 5px;
	position: relative;
}

#info_3_bottom_top:after {
	width: 82.35%;
	height: 2px;
	background: #ba9269;
	content: " ";
	position: absolute;
	left: 8.825%;
	bottom: 0;
}

#info_3_bottom_bottom {
	font-size: 14px;
	color: #8e6438;
	font-family: 'Sentinel-MediumItalic';
}

#info_top {
	background: #cca072;
	padding: 4px 0 2px 0;
}

#info_top_inner {
	height: 4px;
	background: #766049;
}

#info_bottom {
	background: #cca072;
	padding: 3px 0;
}

#info_bottom_inner {
	background: #766049;
	padding: 20px 0;
	color: #cca072;
	font-size: 16px;
	font-family: 'Sentinel-MediumItalic';
}

#top_image_wrapper {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	border-bottom: 9px solid #cca072;
}

#top_image {
	padding: 213px 0;
}

#top_title {
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Gotham-Bold';
	margin: 0 0 15px 0;
	padding: 0 0 18px 0;
	position: relative;
	text-shadow: 0px 0px 35px rgba(0, 0, 0, .8);
}

#top_title:after {
	content: " ";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 30px;
	height: 2px;
	margin-left: -15px;
	background: #fff;
}

#top_text {
    font-size: 24px;
    color: #fff;
    font-family: 'Sentinel-MediumItalic';
    text-shadow: 0px 0px 8px rgba(0,0,0,0.79);
}

#events_header {
	border-bottom: 4px solid #cca072;
	margin-bottom: 22px;
	padding-bottom: 20px;
}

.first-title {
	color: #cca072;
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'Gotham-Black';
	margin: 0;
	padding: 0;
}

.second-title {
	color: #cca072;
	font-size: 24px;
	font-family: 'Gotham-Medium';
	margin: 0;
	padding: 0;
}

#wrapper {
	padding: 55px 0 85px 0;
	background: url('images/bowling.svg') no-repeat center 20px;
	background-size: 900px auto;
}

.event_li {
	margin: 0 0 45px 0;
	padding: 0 0 52px 0;
	background: url('images/event_border.png') repeat-x left bottom;
	background-size: 11px auto;
}

.event_pic img {
	width: 100%;
	height: auto;
}

div.event_date {
	color: #fff;
	font-size: 24px;
	font-family: 'Gotham-Black';
	margin: 0 0 25px 0;
}

.event_title {
	font-size: 18px;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
	margin: 0 0 0 0;
	padding: 0;
	letter-spacing: 1px;
	color: #fff;
}

.event_content {
	font-size: 17px;
	color: #cca072;
	font-family: 'Sentinel-MediumItalic';
	margin-bottom: 30px;
}

.event_content p {
	margin: 0;
	padding: 0;
}

.event_link {
	color: #843b62;
	font-size: 15px;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.event_link:hover {
	text-decoration: none;
	color: #fff;
}

#sidebar .widget-title {
	border-bottom: 4px solid #cca072;
	margin: 0 0 22px 0;
	padding: 0 0 20px 0;
	color: #cca072;
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'Gotham-Black';
}

.months_widget_content a {
	display: block;
	color: #cca072;
	font-size: 18px;
	font-family: 'Sentinel-Medium';
	margin: 0 0 10px 0;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.oe_year {
	font-size: 12px;
	font-family: 'Sentinel-MediumItalic';
}

.months_widget_content a:hover, .active_oe {
	color: #fff !important;
	font-family: 'Sentinel-Black' !important;
	text-decoration: none !important;
}

* {
	outline: none !important;
}

#top_slider {
	position: relative;
	border-bottom: 9px solid #cca072;
}

.top_slider_slide {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 558px;
}

.bx-prev {
	display: block !important;
	width: 164px !important;
	height: 41px !important;
	position: absolute !important;
	left: 50px !important;
	top: 50% !important;
	margin-top: -20.5px !important;
	background: url('images/slider_prev.png') no-repeat center center !important;
	background-size: 164px auto !important;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    opacity: 1;
    z-index: 25;
}

.bx-next {
	display: block !important;
	width: 161px !important;
	height: 41.5px !important;
	position: absolute !important;
	left: auto !important;
	right: 50px !important;
	top: 50% !important;
	margin-top: -20.5px !important;
	background: url('images/slider_next.png') no-repeat center center !important;
	background-size: 161px auto !important;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    opacity: 1;
    z-index: 25;
}

.bx-prev:hover, .bx-next:hover {
	opacity: 0.8;
}

.absolute_text {
	position: absolute !important;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: none !important;
	height: 540px;
}

.absolute_text #top_image {
	padding: 215px 0 0 0;
}

#menu_nav_wrapper {
	background: #7f7153;
	padding: 8px 0;
}

#menu_nav {
	border-top: 1px solid #675c44;
	border-bottom: 1px solid #675c44;
	padding: 10px 0;
}

#menu_nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#menu_nav ul li {
	display: inline;
}

#menu_nav ul li a {
	display: inline-block;
	padding: 0 35px;
	font-size: 20px;
	color: #cca072;
	font-family: 'Sentinel-MediumItalic';
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background: url('images/menu_nav_bg.png') repeat-y right top;
}

#menu_nav ul li a:hover, #menu_nav ul li a.menu_active {
	color: #fff !important;
	text-decoration: none;
}

#menu_nav ul li:last-child a {
	background: none !important;
}

.menu_part_image_wrapper {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 100px 0 82px 0;
	border-bottom: 8px solid #cca072;
}

.menu_part_title {
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Gotham-Bold';
	margin: 0 0 35px 0;
	padding: 0 0 23px 0;
	position: relative;
	letter-spacing: 2px;
}

.menu_part_title:after {
	content: " ";
	width: 45px;
	height: 4px;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
}

.menu_part_text {
	font-size: 21px;
	line-height: 32px;
	color: #fff;
	font-family: 'Sentinel-MediumItalic';
}

.menu_part_text p {
	margin: 0;
	padding: 0;
}

.menu_details_wrapper {
	padding: 95px 0 120px 0;
	border-bottom: 8px solid #cca072;
	background: #181716;
}

.menu_details {
	background: url('images/bowling.svg') no-repeat center top;
	background-size: 900px auto;
}

.menu_detail {
	margin: 0 0 60px 0;
	padding: 0 0 60px 0;
	background: url('images/menu_border.png') repeat-x 0 bottom;
}

.menu_detail_title {
	color: #cca072;
	font-size: 30px;
	font-family: 'Gotham-Bold';
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 0 40px 0;
	padding: 0 0 27px 0;
	position: relative;
}

.menu_detail_title:after {
	content: " ";
	width: 45px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
}

.menu_detail_text {
	font-size: 17px;
	color: #cca072;
	font-family: 'Sentinel-MediumItalic';
}

.menu_detail_text strong {
	font-family: 'Gotham-Medium';
	font-size: 17px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #fff;
	letter-spacing: 2px;
}

.menu_detail_text p {
	margin: 0 0 30px 0;
	padding: 0;
}

.menu_detail p:last-child {
	margin-bottom: 0 !important;
}

.menu_details .col-sm-6 > .menu_detail:last-child {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	background: none !important;
}

.really_bold {
	font-family: 'Gotham-Black' !important;
	font-style: italic !important;
}

.menu_detail_text em {
	color: #7f7153;
	text-transform: uppercase;
	margin: 0 0 25px 0;
	padding: 0;
	font-size: 24px;
	font-style: normal !important;
	font-family: 'Gotham-Medium' !important;
	display: block;
}

.no_margin {
	margin: 0 !important;
}

#liquor_div .menu_detail {
	margin: 60px 0 0 0;
	padding: 60px 0 0 0;
	background: url('images/menu_border.png') repeat-x 0 top;
}

#liquor_div .menu_detail_title:after {
	left: 50% !important;
	margin-left: -22.5px !important;
}

.happy_top {
	margin: 0 0 75px 0;
}

.happy_top h4 {
	margin: 0 0 28px 0;
	padding: 0 0 32px 0;
	position: relative;
	color: #cca072;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Gotham-Black';
}

.happy_top h4:after {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -22.5px;
	width: 45px;
	height: 3px;
	background: #fff;
}

.happy_top_content {
	color: #fff;
	font-size: 21px;
	text-transform: uppercase;
	font-family: 'Sentinel-MediumItalic';
}

.menu_detail_title span {
	display: block;
	color: #fff;
	font-size: 16px;
	font-family: 'Sentinel-MediumItalic';
	text-transform: none;
}

.plus_1 {
	color: #fff;
	font-size: 24px;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
}

.plus_2 {
	color: #fff;
	font-size: 16px;
	font-family: 'Sentinel-MediumItalic';
}

#happy_left .menu_detail:last-child .menu_detail_title {
	margin-bottom: 0 !important;
}

#happy_left .menu_detail:last-child .menu_detail_title:after {
	display: none;
}

#groups_top {
	margin: 0 0 95px 0;
	padding: 0 0 95px 0;
	background: url('images/menu_border.png') repeat-x left bottom;
}

.groups_title {
	color: #fff;
	font-size: 30px;
	font-family: 'Gotham-Black';
	text-transform: uppercase;
	margin: 0 0 35px 0;
	padding: 0 0 30px 0;
	position: relative;
}

.groups_title:after {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 45px;
	height: 3px;
	background: #cca072;
}

.groups_text {
	font-size: 24px;
	color: #cca072;
	font-family: 'Sentinel-MediumItalic';
}

.groups_text p {
	margin: 0;
	padding: 0;
}

#groups_bottom img {
	width: 91.89%;
	height: auto;
}

#groups_bottom strong {
	display: block;
}

#event_reg_panel {
	background: #f4ede6;
	border: 7px solid #b48556;
	padding: 35px 8.53%;
}

#event_reg_panel h3 {
	color: #181818;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0 0 35px 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Gotham-Black';
}

#event_reg_panel p {
	margin: 0 0 30px 0;
	padding: 0;
}

#event_reg_panel p i {
	color: #696969;
	font-size: 15px;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
}

#event_reg_panel p a {
	color: #181818;
	font-size: 18px;
	font-family: 'Gotham-Bold';
	text-transform: uppercase;
}

#event_reg_panel p:nth-child(2) a {
	letter-spacing: 6px;
}

#booking_inquiry {
	background: #843b62;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
	padding: 15px 24px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#booking_inquiry:hover {
	background: #b48556;
	text-decoration: none;
}

#prices_wrapper {
	margin: 40px 0 0 0;
}

#price_listing {
	/*background: url('images/price_bg.png');*/
	border: 10px solid #b48556;
	overflow: hidden;
}

.price_left {
	background: url('images/price_bg.png');
	padding: 20px 0;
}

.price_right {
	background: url('images/games_bg_2.png');
	padding: 20px 0;
}

#price_listing .row {
	position: relative;
	background: url('images/games_header_bg.png') no-repeat center center;
}

.time {
	display: block;
	color: #181818;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 17px;
	font-family: 'GothamBook';
	/*letter-spacing: 2px;*/
}

.time .bold {
	font-family: 'Gotham-Bold';
}

.price_right .time {
	color: #cca072;
}

.price_right .day {
	color: #fff;
}

.day {
	color: #696969;
	font-size: 15px;
	font-style: italic;
	font-family: 'Crimson Text', serif;
}

.day .bold {
	font-weight: 700;
}

#game_1 {
	float: left;
	width: 40%;
}

#game_1_inner {
	border: 5px solid #cca072;
	position: relative;
	height: 705px;
}

#games_right {
	float: right;
	width: 59.65%;
}

#game_2 {
	margin-bottom: 5px;
}

#game_2_inner {
	width: 100%;
	border: 5px solid #7f7153;
	height: 350px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center
}

#game_3 {
	float: left;
	width: 42.32%;
}

#game_3_inner {
	width: 100%;
	border: 5px solid #cca072;
	height: 350px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center
}

#game_4 {
	float: right;
	width: 57%;
}

#game_4_inner {
	width: 100%;
	border: 5px solid #7f7153;
	height: 350px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center
}

.game_title {
	color: #fff;
	font-size: 36px;
	position: relative;
	margin: 0 0 10px 0;
	padding: 0 0 15px 0;
	text-transform: uppercase;
	font-family: 'Gotham-Bold';
}

.game_title:after {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20px;
	height: 2px;
	background: #fff;
}

.game_text {
	color: #fff;
	font-size: 18px;
	line-height: 21px;

}

.game_text p {
	margin: 0;
	padding: 0;
	font-family: 'Sentinel-MediumItalic';
}

.game_image_text {
	width: 90%;
	position: absolute;
	bottom: 35px;
	left: 30px;
}

#game_1 .game_image_text {
	width: 90%;
	position: absolute;
	top: 55px;
	left: 30px;
}

.game_slide {
	width: 100%;
	height: 695px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#game_1 .bx-prev {
	width: 35px !important;
	height: 35px !important;
	background: url('images/g_left.png') no-repeat center center !important;
	left: 35px !important;
	top: 220px !important;
	margin-top: 0 !important;
	background-size: 35px auto !important;
}

#game_1 .bx-next {
	width: 35px !important;
	height: 35px !important;
	background: url('images/g_right.png') no-repeat center center !important;
	left: 71px !important;
	top: 220px !important;
	margin-top: 0 !important;
	background-size: 35px auto !important;
}

#book_a_party {
	border: 2px solid #fff;
	font-size: 12px;
	font-weight: normal;
	font-family: 'Gotham-Bold';
	text-transform: uppercase;
	padding: 15px 20px;
	letter-spacing: 2px;
	display: inline-block;
	color: #fff;
	margin-top: 20px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#book_a_party:hover {
	background: #fff;
	color: #000;
	text-decoration: none;
}

.teaser {
	padding-top: 200px;
	height: 360px;
}

.teaser_title {
	color: #fff;
	font-weight: normal;
	font-size: 22px;
	margin: 0 0 15px 0;
	padding: 0 0 18px 0;
	position: relative;
	font-family: 'Gotham-Black';
}

.teaser_title:after {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -22.5px;
	width: 45px;
	height: 3px;
	background: #595754;
}

.teaser_content {
	font-size: 15px;
	color: #b29f8a;
	margin: 0 0 35px 0;
	font-family: 'Sentinel-MediumItalic';
}

.teaser_link {
	color: #843b62;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
	position: absolute;
	bottom: 0;
	display: block;
	text-align: center;
	width: 90%;
	left: 5%;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.teaser_link:hover {
	color: #fff;
	text-decoration: none;
}

#teaser_1 {
	background: url('images/cta1.jpg') no-repeat center top;
	background-size: contain;
}

#teaser_2 {
	background: url('images/cta2.jpg') no-repeat center top;
	background-size: contain;
}

#teaser_3 {
	background: url('images/cta3.jpg') no-repeat center top;
	background-size: contain;
}

#teaser_4 {
	background: url('images/cta42.jpg') no-repeat center top;
	background-size: contain;
}

#buzz_title {
	font-family: 'Gotham-Black';
	font-size: 40px;
	color: #7f7153;
	text-transform: uppercase;
	margin: 0 0 25px 0;
	padding: 0 0 35px 0;
	position: relative;
}

#buzz_title span {
	color: #cca072;
}

#buzz_title:after {
	position: absolute;
	width: 50px;
	height: 2px;
	background: #595754;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}

.page-id-2 #wrapper {
	background: none !important;
}

.tweet_box {
	width: 54%;
	padding: 10px 30px;
	margin: 0 auto !important;
	position: relative;
	color: #fff;
	font-family: 'Sentinel-MediumItalic';
}

.tweet_name a {
	display: block;
	color: #cca072;
	font-size: 12px;
	font-family: 'Gotham-Medium';
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.tweet_name a:hover {
	text-decoration: none;
	color: #fff;
}

#twitter_slider {
	margin-bottom: 90px;
	position: relative;
}

#twitter_slider .bx-pager-link {
	display: block !important;
	width: 16px !important;
	height: 16px !important;
	background: url('images/tw_li.png') no-repeat center center !important;
	background-size: 16px 16px !important;
	margin: 0 8px !important;
}

#twitter_slider .bx-wrapper .bx-pager {
	bottom: -30px !important;
}

#twitter_slider .bx-pager-link:hover, #twitter_slider .bx-controls .active {
	background-image: url('images/tw_li2.png') !important;
}

#home_middle_1 {
	width: 1246px;
	margin: 0 auto 50px auto;
	border: 2px solid #c5b88c;
	padding: 3px;
}

#home_middle_2 {
	margin: 0 auto;
	border: 1px solid #5a5443;
	padding: 17px 0;
}

#bor_hor_1 {
	display: block;
	width: 100%;
	height: 4px;
	background: url('images/bor_hor.jpg') repeat-x 0 0;
	position: absolute;
	top: 0;
	left: 0;
}

#bor_hor_2 {
	display: block;
	width: 100%;
	height: 4px;
	background: url('images/bor_hor.jpg') repeat-x 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
}

#bor_ver_1 {
	display: block;
	width: 4px;
	height: 100%;
	background: url('images/bor_ver.jpg') repeat-y 0 0;
	position: absolute;
	top: 0;
	left: 0;
}

#bor_ver_2 {
	display: block;
	width: 4px;
	height: 100%;
	background: url('images/bor_ver.jpg') repeat-y 0 0;
	position: absolute;
	top: 0;
	right: 0;
}

#home_middle_3 {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

#home_middle {
	padding: 100px 0 20px 0;
	position: relative;
}

#home_buzz_left {
	width: 39.91%;
	float: left;
}

#home_buzz_right {
	width: 59.91%;
	float: right;
}

#home_buzz_left_1 {
	background: #cca072;
	margin-bottom: 2px;
}

#home_buzz_left_1 .buzz_border {
	padding: 10px;
}

#home_buzz_left_1 .buzz_border .buzz_content {
	border: 1px solid #e2c8a2;
	height: 165px;
	position: relative;
}

.buzz_tweet_text {
	color: #fff;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Sentinel-MediumItalic';
	padding: 28px 11.68% 15px 19.85%;
	overflow: hidden;
}

.buzz_tweet_name {
	color: #8e6438;
	font-size: 9px;
	font-family: 'Montserrat', sans-serif;
	padding: 0 11.68% 0 19.85%;
}

#home_buzz_left_1 .quote {
	display: block;
	width: 19px;
	height: 16px;
	background: url('images/bquote1.png');
	position: absolute;
	left: 8.23%;
	top: 30px;
}

.bt_cont {
	text-align: left;
}

#home_buzz_left_2 {
	width: 49.7%;
	float: left;
}

#home_buzz_left_2 .buzz_border {
	padding: 4px;
	background: #cca072;
}

#home_buzz_left_2 .buzz_border .buzz_content {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 175px;
}

#home_buzz_left_3 {
	width: 49.7%;
	float: right;
}

#home_buzz_left_3 .buzz_border {
	padding: 4px;
	background: #cca072;
}

#home_buzz_left_3 .buzz_border .buzz_content {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 175px;
}

#home_buzz_left_4 {
	margin-top: 2px;
}

#home_buzz_left_4 .buzz_border {
	padding: 4px;
	background: #fff;
}

#home_buzz_left_4 .buzz_border .buzz_content {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 364px;
}

#home_buzz_right_1 {
	width: 66.47%;
	float: left;
	margin-bottom: 2px;
}

#home_buzz_right_1 .buzz_border {
	padding: 4px;
	background: #cca072;
}

#home_buzz_right_1 .buzz_border .buzz_content {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 362px;
}

#home_buzz_right_2 {
	background: #7f7153;
	margin-bottom: 2px;
	width: 33.08%;
	float: right;
}

#home_buzz_right_2 .buzz_border {
	padding: 10px;
}

#home_buzz_right_2 .buzz_border .buzz_content {
	border: 1px solid #706449;
	height: 350px;
	position: relative;
}

#home_buzz_right_2 .buzz_border .buzz_content .buzz_tweet_text {
	padding-top: 90px;
}

#home_buzz_right_2 .buzz_border .buzz_content .buzz_tweet_name {
	color: #cca072;
}

#home_buzz_right_2 .quote {
	display: block;
	width: 19px;
	height: 16px;
	background: url('images/bquote2.png');
	position: absolute;
	left: 8.23%;
	top: 34px;
}

#home_buzz_right_3 {
	background: #7f7153;
	margin-bottom: 2px;
	width: 33.08%;
	float: left;
}

#home_buzz_right_3 .buzz_border {
	padding: 10px;
}

#home_buzz_right_3 .buzz_border .buzz_content {
	border: 1px solid #706449;
	height: 352px;
	position: relative;
}

#home_buzz_right_3 .buzz_border .buzz_content .buzz_tweet_text {
	padding-top: 90px;
}

#home_buzz_right_3 .buzz_border .buzz_content .buzz_tweet_name {
	color: #cca072;
}

#home_buzz_right_3 .quote {
	display: block;
	width: 19px;
	height: 16px;
	background: url('images/bquote2.png');
	position: absolute;
	left: 8.23%;
	top: 34px;
}

#home_buzz_right_right {
	width: 66.47%;
	float: right;
}

#home_buzz_right_4 {
	width: 49.7%;
	float: left;
}

#home_buzz_right_4 .buzz_border {
	padding: 4px;
	background: #cca072;
}

#home_buzz_right_4 .buzz_border .buzz_content {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 177px;
}

#home_buzz_right_5 {
	width: 49.7%;
	float: right;
}

#home_buzz_right_5 .buzz_border {
	padding: 4px;
	background: #cca072;
}

#home_buzz_right_5 .buzz_border .buzz_content {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 175px;
}

#home_buzz_right_6 {
	background: #cca072;
	margin-top: 2px;
}

#home_buzz_right_6 .buzz_border {
	padding: 10px;
}

#home_buzz_right_6 .buzz_border .buzz_content {
	border: 1px solid #e2c8a2;
	height: 165px;
	position: relative;
}

.tq1 {
	width: 16px;
	height: 13px;
	background: url('images/tq1.png');
	position: absolute;
	top: 0;
	left: 0;
}

.tq2 {
	width: 16px;
	height: 13px;
	background: url('images/tq2.png');
	position: absolute;
	bottom: 0;
	right: 0;
}

#home_bottom {
	margin-bottom: 50px;
}

.home_bottom_box {
	background: #843b62;
}

.home_bottom_box_border {
	padding: 10px;
}

.home_bottom_box_inner {
	border: 1px solid #b05085;
	padding-top: 20px;
	height: 110px;
}

.home_bottom_box_inner h3 {
	color: #fff;
	font-size: 22px;
	font-weight: normal;
	font-family: 'Gotham-Black';
	margin: 0 0 10px 0;
	padding: 0;
}

.hb_cont {
	font-size: 18px;
	color: #b29f8a;
	font-family: 'Sentinel-MediumItalic';
}

.hhsoc {
	display: inline-block;
	margin-left: 2.64%;
	background-repeat: no-repeat;
	background-position: center center;
	width: 21px;
	height: 21px;
	position: relative;
	top: 6px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.hhsoc:hover {
	top: 3px;
}

#hhtw {
	background-image: url('images/p_tw.png');
	background-size: 21px auto;
}

#hhfb {
	background-image: url('images/p_fb.png');
	background-size: 11px auto;
}

#hhpt {
	background-image: url('images/p_pt.png');
	background-size: 17px auto;
}

#hhig {
	background-image: url('images/p_ig.png');
	background-size: 21px auto;
}

.hb_form input[type=email] {
	background: #a36c89;
	border: 1px solid #ceb1c0;
	color: #fff;
	font-style: italic;
	font-family: arial;
	padding: 10px;
	display: inline-block;
	width: 195px !important;
	vertical-align: top;
	margin-right: -4px;
}

.hb_form input[type=submit] {
	background: #cca072;
	color: #fff;
	font-size: 18px;
	font-family: 'Sentinel-MediumItalic';
	padding: 8px 15px 9px 15px;
	display: inline-block;
	border: none;
	cursor: pointer;
	vertical-align: top;
}

#home_header_top #header_info, #home_header_top #mainmenu {
	text-align: center;
	position: relative;
}

#home_header_top {
	margin-bottom: 110px;
}

#home_header_middle {
	margin-bottom: 40px;
}

#home_header_bottom {
	color: #cca072;
	font-size: 22px;
	line-height: 27px;
	font-family: 'Sentinel-MediumItalic';
	margin-bottom: 50px;
}

.home_button {
	color: #fff !important;
	font-size: 15px;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
	padding: 12px 22px;
	border: 1px solid #858687;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    margin: 0 5px;
    display: inline-block;
    text-decoration: none !important;
}

.home_button:hover, .active_home_button {
	background: #843b62 !important;
	text-decoration: none !important;
	color: #fff !important;
}

#header-home-wrap {
	background: url('images/home_video.jpg') no-repeat center center;
	background-size: cover;
	border-bottom: 9px solid #cca072;
	position: relative;
	overflow: hidden;
}

#home_header_buttons {
	position: relative;
    z-index: 40;
}

#google_360 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
}

#broll {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
}

.normal_page_title {
	color: #fff;
	font-size: 24px;
	font-family: 'Gotham-Black';
	text-transform: uppercase;
	margin: 0 0 35px 0;
	padding: 0 0 30px 0;
	position: relative;
}

.normal_page_title:after {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 45px;
	height: 3px;
	background: #cca072;
}

.normal_page_content {
	font-size: 18px;
	color: #cca072;
	font-family: 'Sentinel-MediumItalic';
}

#filters {
	margin: 0 0 50px 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#filters li {
	display: inline;
}

#filters li a {
	display: inline-block;
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
	padding: 5px 10px;
	border: 1px solid #7f6041;
	margin: 0 5px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#filters li a:hover, #filters li a.selected {
	text-decoration: none;
	background: #7f6041;
}

#portfolio_ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#portfolio_ul li {
	margin-bottom: 30px;
}

.gal_image {
	display: block;
	position: relative;
}

.gal_image img {
	width: 100%;
	height: auto;
}

.p360-tours .gal_text {
	background: #7f7153;
}

.pvideos .gal_text {
	background: #7f7153;
}

.pphotos .gal_text {
	background: #cca072;
}

.gal_text {
	color: #fff;
	padding: 35px 6.66% 25px 6.66%;
}

.gal_text_inner {
	font-family: 'Sentinel-Medium';
	font-size: 15px;
	line-height: 24px;
	overflow: hidden;
}

.gal_insta {
	display: block;
	width: 78px;
	height: 78px;
	background: url('images/g_ig.png') no-repeat center center;
	background-size: 78px auto;
	position: absolute;
	left: 50%;
	margin-left: -39px;
	bottom: -39px;
}

.gal_video {
	display: block;
	background: url('images/g_play.png') no-repeat center center;
	background-size: 69px auto;
	width: 69px;
	height: 69px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -34.5px;
	margin-top: -34.5px;
}

.pphotos .gal_text {
	padding-top: 50px;
}

.gal_insta_author {
	position: relative;
	margin-top: 25px;
	padding-top: 30px;
	color: #8e6438;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.gal_insta_author:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	background: #e3cba5;
	width: 30px;
	height: 3px;
}

.gal_360 {
	font-size: 12px;
	font-family: 'Gotham-Bold';
	text-transform: uppercase;
	width: 165px;
	text-align: center;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -83.5px;
	top: 50%;
	padding: 15px 0;
	border: 2px solid #fff;
	margin-top: -24px;
	color: #fff;
}

.slicknav_menu {
	display: none;
}

.page-id-24 #top_image {
	padding: 145px 0 !important;
}

#wrapper_games {
	background: url('images/bowling.svg') no-repeat -120px -100px;
	background-size: 1000px auto;
}

.hb_form input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}

.hb_form input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}

.hb_form input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}

.hb_form input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}

#learn_more {
	width: 38px;
	height: 38px;
	background: url('images/down_arrow.png') no-repeat center center;
	background-size: 38px auto;
	display: inline-block;
	margin: 50px 0 20px 0;
	position: relative;
}

#helper_div {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.contact_li {

}

.contact_title {
	color: #cca072;
	font-size: 20px;
	font-family: 'Sentinel-MediumItalic';
	margin: 0 0 20px 0;
	padding: 0 0 25px 0;
	position: relative;

}

.contact_title:after {
	position: absolute;
	width: 30px;
	height: 3px;
	left: 50%;
	margin-left: -15px;
	background: #fff;
	bottom: 0;
	content: " ";
}

.contact_text {
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	font-family: 'GothamBook';
}

.contact_text a {
	color: #fff !important;
}

.contact_text p {
	margin: 0;
	padding: 0;
}

#contact_top {
	margin-bottom: 60px;
	padding-bottom: 110px;
	position: relative;
}

#contact_top:after {
	content: " ";
	position: absolute;
	width: 100%;
	height: 3px;
	background: url('images/menu_border.png') repeat-x 0 0;
	bottom: 0;
	left: 0;
}

#contact_bottom h3, #contact_bottom_row h3 {
	color: #cca072;
	font-size: 20px;
	font-family: 'Sentinel-MediumItalic';
	margin: 0 0 20px 0;
	padding: 0 0 25px 0;
	position: relative;
}

#contact_bottom h3:after, #contact_bottom_row h3:after {
	position: absolute;
	width: 30px;
	height: 3px;
	left: 50%;
	margin-left: -15px;
	background: #fff;
	bottom: 0;
	content: " ";
}

.csoc {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 31px;
	position: relative;
	top: 6px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.csoc:hover {
	top: 3px;
}

#ctw {
	background-image: url('images/c_tw.png');
	background-size: 30.5px auto;
}

#cfb {
	background-image: url('images/c_fb.png');
	background-size: 10.5px auto;
}

#cpt {
	background-image: url('images/c_pt.png');
	background-size: 24px auto;
}

#cig {
	background-image: url('images/c_ig.png');
	background-size: 31px auto;
}

.contact_li {
	padding-top: 60px;
	background: url('images/contact_phone.png') no-repeat center top;
	background-size: 88.5px auto;
}

.contact_li:first-child {
	background-image: url('images/contact_marker.png') !important;
	background-size: 17.5px auto;
}

#google_map {
	/*height: 335px;*/
	/*height: 568px;*/
	height: 350px;
	border-bottom: 8px solid #cca072;
}

#liquor_div em {
	padding-top: 40px;
}

#liquor_div .menu_detail_title {
	margin-bottom: 0 !important
}

#liquor_div {
	background: url('images/bowling.svg') no-repeat center 270px;
	background-size: 900px auto;
}

#wine_div em {
	padding-top: 40px;
}

#wine_div p:first-child em {
	padding-top: 0 !important;
}

.sentinel_bold_italic {
	font-family: 'Sentinel-BoldItalic';
}

.sticky {
	position: fixed !important;
	width: 100% !important;
	top: 110px;
	z-index: 50000;
}

#mobile_header_wrapper {
	height: 50px;
	background: -webkit-linear-gradient(#262626, #010101); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#262626, #010101); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#262626, #010101); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#262626, #010101); /* Standard syntax (must be last) */
    border-bottom: 1px solid #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000000;
    display: none;
}

#mobile_header {
	background: url('images/svgs/mobile_nav_flourish.svg') no-repeat center bottom;
	background-size: auto 80%;
	height: 50px;
}

#mobile_logo {
	display: block;
	padding: 7px 0 0 0;
}

#mobile_logo img {
	height: 38px;
}

#toggle_mobile_nav {
	display: block;
	width: 28px;
	height: 28px;
	background: url('images/mobile_nav_button2.png') no-repeat center top;
	background-size: 100%;
	position: absolute;
	right: 5%;
	top: 12px;
	cursor: pointer;
}

.mobile_menu_open {
	background-position: center bottom !important;
}

#mobile_menu_wrapper {
	position: fixed;
	width: 100%;
	top: 50px;
	left: 0;
	background: url('images/mobile_menu_overlay.png');
	z-index: 500000;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    display: none;
}

#mobile_menu, #mobile_info, #mobile_social {
	border-bottom: 1px solid #333;
	padding: 12px 0;
}

#mobile_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#mobile_menu ul li a {
	color: #cca072;
	font-size: 14px;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
	padding: 12px 0;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    display: block;
}

#mobile_menu ul li a:hover {
	color: #fff;
	text-decoration: none;
}

#mobile_info {
	font-size: 14px;
	color: #b58656;
	line-height: 25px;
	font-family: 'Sentinel-MediumItalic';
}

#mobile_info a {
	color: #fff;
	font-family: 'Sentinel-BoldItalic';
}

#mobile_header_address {
	color: #b58656;
	font-family: 'Sentinel-BoldItalic';
}

.msoc {
	display: inline-block;
	margin: 0 12px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 29px;
	height: 21px;
	position: relative;
	top: 6px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#mtw {
	background-image: url('images/tw.png');
	background-size: 10.5px auto;
}

#mfb {
	background-image: url('images/fb.png');
	background-size: 6px auto;
}

#mpt {
	background-image: url('images/pt.png');
	background-size: 9px auto;
}

#mig {
	background-image: url('images/ig.png');
	background-size: 11px auto;
}

#mmail {
	background-image: url('images/mail.png');
	background-size: 14.5px auto;
}

body img.emoji {
	display: none !important;
}

.mfsoc {
	display: inline-block;
	margin: 0 15px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 19.5px;
	height: 15.5px;
	position: relative;
	top: 6px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.mfsoc:hover {
	top: 3px;
}

#mffb {
	background-size: 8.5px auto;
	background-image: url('images/ffb.png');
}

#mftw {
	background-size: 15.5px auto;
	background-image: url('images/ftw.png');
}

#mfpt {
	background-size: 12.5px auto;
	background-image: url('images/fpt.png');
}

#mfig {
	background-size: 15.5px auto;
	background-image: url('images/fig.png');
}

#mfmail {
	background-size: 19.5px auto;
	background-image: url('images/fmail.png');
}

#mobile_footer_social {
	padding: 12px 0;
	border-bottom: 2px solid #4c4946;
	display: none;
}

#home_video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(polina.jpg) no-repeat;
	background-size: cover;
}

.normal_page_content a {
	color: #fff !important;
}

.normal_page_content iframe {
	max-width: 100% !important;
}

#parking_content {
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	font-family: 'GothamBook';
	padding: 0 10%;
}

#parking_content p {
	margin: 0;
	padding: 0;
}

#close_broll {
	color: #fff !important;
	font-size: 15px;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
	padding: 5px 11px;
	border: 1px solid #858687;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    display: inline-block;
    text-decoration: none !important;
    position: absolute;
    top: 30px;
    right: 60px;
    z-index: 35;
    cursor: pointer;
}

#close_broll:hover {
	background: #843b62 !important;
	text-decoration: none !important;
	color: #fff !important;
}

#video_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 0;
}

#be_slider {
	margin-top: 30px;
	position: relative;
	border: 4px solid #cca072;
}

#be_slider .bx-prev {
	width: 35px !important;
	height: 35px !important;
	background: url('images/g_left.png') no-repeat center center #494848 !important;
	left: 35px !important;
	top: auto !important;
	bottom: 30px !important;
	margin-top: 0 !important;
	background-size: 35px auto !important;
}

#be_slider .bx-next {
	width: 35px !important;
	height: 35px !important;
	background: url('images/g_right.png') no-repeat center center #494848 !important;
	top: auto !important;
	bottom: 30px !important;
	left: 80px !important;
	margin-top: 0 !important;
	background-size: 35px auto !important;
}

.better_events_right h3 {
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
	margin: 0;
	padding: 0;
	color: #fff;
}

.better_events_right h4 {
	color: #cca072;
	font-family: 'Sentinel-MediumItalic';
	font-style: italic;
	margin: 0 0 5px 0;
	padding: 0;
}

.better_events_right_text {
	color: #7f7f7f;
	font-size: 12px;
	font-style: italic;
	font-family: 'Gotham-MediumItalic';
	margin: 0 0 15px 0;
}

.better_events_right_text p {
	margin: 0;
	padding: 0;
}

#better_events_form label {
	display: block;
	color: #fff;
	font-size: 12px;
	font-family: 'Gotham-Medium';
	margin-bottom: 5px;
	font-weight: 400 !important;
}

#better_events_form .wpcf7-text {
	background: #282828;
	border: 1px solid #b48e66;
	padding: 10px;
	width: 100%;
	margin: 0 0 20px 0;
	color: #fff;
}

#better_events_form .wpcf7-textarea {
	background: #282828;
	border: 1px solid #b48e66;
	padding: 10px;
	width: 100%;
	height: 180px;
	margin: 0 0 20px 0;
	resize: none;
	color: #fff;
}

#better_events_form .wpcf7-submit {
	background: #843b62;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
	padding: 15px 24px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    border: none;
}

#better_events_form .wpcf7-submit:hover {
	background: #b48556;
	text-decoration: none;
}

.select_dropdown {
 	background: #282828;
	border: 1px solid #b48e66;
	padding: 10px;
	width: 100%;
    height: 42px;
    margin: 0 0 20px 0;
    overflow: hidden;
}

.select_dropdown select {
	background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    font-size: 13px;
    height: 24px;
    line-height: 1;
    padding: 0;
    width: 130%;
    color: #fff;
}

.be-header-wrap {
	background: none !important;
	border-bottom: none !important;
	position: absolute !important;
}

body.page-id-377 {
	padding-top: 0 !important;
}

.be-header-wrap #header_info {
	padding-top: 33px !important;
}

#be_slider .bx-wrapper img {
    width: 100% !important;
}

#better_events_form label.error {
	color: red !important;
}

#circularG{
	position:relative;
	width:25px;
	height:25px;
	margin-top: 10px;
}

.circularG{
	position:absolute;
	background-color:rgb(255,255,255);
	width:6px;
	height:6px;
	border-radius:4px;
		-o-border-radius:4px;
		-ms-border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
	animation-name:bounce_circularG;
		-o-animation-name:bounce_circularG;
		-ms-animation-name:bounce_circularG;
		-webkit-animation-name:bounce_circularG;
		-moz-animation-name:bounce_circularG;
	animation-duration:1.1s;
		-o-animation-duration:1.1s;
		-ms-animation-duration:1.1s;
		-webkit-animation-duration:1.1s;
		-moz-animation-duration:1.1s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#circularG_1{
	left:0;
	top:10px;
	animation-delay:0.41s;
		-o-animation-delay:0.41s;
		-ms-animation-delay:0.41s;
		-webkit-animation-delay:0.41s;
		-moz-animation-delay:0.41s;
}

#circularG_2{
	left:3px;
	top:3px;
	animation-delay:0.55s;
		-o-animation-delay:0.55s;
		-ms-animation-delay:0.55s;
		-webkit-animation-delay:0.55s;
		-moz-animation-delay:0.55s;
}

#circularG_3{
	top:0;
	left:10px;
	animation-delay:0.69s;
		-o-animation-delay:0.69s;
		-ms-animation-delay:0.69s;
		-webkit-animation-delay:0.69s;
		-moz-animation-delay:0.69s;
}

#circularG_4{
	right:3px;
	top:3px;
	animation-delay:0.83s;
		-o-animation-delay:0.83s;
		-ms-animation-delay:0.83s;
		-webkit-animation-delay:0.83s;
		-moz-animation-delay:0.83s;
}

#circularG_5{
	right:0;
	top:10px;
	animation-delay:0.97s;
		-o-animation-delay:0.97s;
		-ms-animation-delay:0.97s;
		-webkit-animation-delay:0.97s;
		-moz-animation-delay:0.97s;
}

#circularG_6{
	right:3px;
	bottom:3px;
	animation-delay:1.1s;
		-o-animation-delay:1.1s;
		-ms-animation-delay:1.1s;
		-webkit-animation-delay:1.1s;
		-moz-animation-delay:1.1s;
}

#circularG_7{
	left:10px;
	bottom:0;
	animation-delay:1.24s;
		-o-animation-delay:1.24s;
		-ms-animation-delay:1.24s;
		-webkit-animation-delay:1.24s;
		-moz-animation-delay:1.24s;
}

#circularG_8{
	left:3px;
	bottom:3px;
	animation-delay:1.38s;
		-o-animation-delay:1.38s;
		-ms-animation-delay:1.38s;
		-webkit-animation-delay:1.38s;
		-moz-animation-delay:1.38s;
}



@keyframes bounce_circularG{
	0%{
		transform:scale(1);
	}

	100%{
		transform:scale(.3);
	}
}

@-o-keyframes bounce_circularG{
	0%{
		-o-transform:scale(1);
	}

	100%{
		-o-transform:scale(.3);
	}
}

@-ms-keyframes bounce_circularG{
	0%{
		-ms-transform:scale(1);
	}

	100%{
		-ms-transform:scale(.3);
	}
}

@-webkit-keyframes bounce_circularG{
	0%{
		-webkit-transform:scale(1);
	}

	100%{
		-webkit-transform:scale(.3);
	}
}

@-moz-keyframes bounce_circularG{
	0%{
		-moz-transform:scale(1);
	}

	100%{
		-moz-transform:scale(.3);
	}
}

.ajax_loader {
	opacity: 0;
}

#message_sent {
	display: none;
	color: #cca072;
    font-family: "Sentinel-MediumItalic";
    font-style: italic;
    margin: 20px 0 0 0;
    font-size: 18px;
}

#better_events_form {
	margin-left: -15px !important;
	margin-right: -15px !important;
}

#reservations_block_1 {
	margin-bottom: 35px;
}

#reservations_block_1 .block_title {
	color: #fff;
	font-size: 23px;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 25px 0;
	padding: 0 0 30px 0;
	position: relative;
	font-family: 'Gotham-Black';
}

#reservations_block_1 .block_title:after {
	position: absolute;
	content: " ";;
	display: block;
	width: 36px;
	height: 3px;
	background: #cca072;
	left: 50%;
	margin-left: -18px;
	bottom: 0;
}

#reservations_block_1 .block_text {
	color: #cca072;
	font-family: "Sentinel-MediumItalic";
}

#reservations_block_1 .block_text p {
	font-size: 15px;
	line-height: 23px;
	margin: 0 0 30px 0;
	padding: 0;
}

#reservations_block_2 {
	margin-bottom: 50px;
	padding-bottom: 50px;
	position: relative;
	background: rgba(0, 0, 0, 0) url("images/menu_border.png") repeat-x scroll 0 bottom;
}

#reservations_block_2 .block_title {
	color: #fff;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 15px 0;
	padding: 0 0 0 0;
	position: relative;
	font-family: 'Gotham-Black';
	letter-spacing: 3px;
}

.res_slide_title {
	color: #fff;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
	position: relative;
	font-family: 'Gotham-Black';
	padding-left: 25px;
	padding-right: 25px;
}

.res_slide_text {
	font-size: 14px;
	line-height: 17px;
	color: #cca072;
	font-family: "Sentinel-MediumItalic";
	padding-left: 25px;
	padding-right: 25px;
}

.res_slide_text p {
	margin: 0;
	padding: 0;
}


.res_slide_text ul {
	list-style-type: disc;
	margin: 0;
	padding: 0 0 0 14px;
}

.res_slide_text ul li {
	margin-bottom: 10px;
}

.res_slide_image {
	width: 100%;
	height: auto;
	padding-right: 40px;
}

#res_slider {
	border: 4px solid #cca072;
	position: relative;
}

.type_2_row {
	background: #181716;
	padding-top: 25px;
	padding-bottom: 25px;
	position: relative;
}

.type_2_row .res_slide_title {
	padding-top: 25px;
}

#res_slider .bx-prev {
	width: 35px !important;
	height: 35px !important;
	background: url('images/g_left.png') no-repeat center center !important;
	left: 35px !important;
	top: auto !important;
	bottom: 20px !important;
	margin-top: 0 !important;
	background-size: 35px auto !important;
}

#res_slider .bx-next {
	width: 35px !important;
	height: 35px !important;
	background: url('images/g_right.png') no-repeat center center !important;
	left: 74px !important;
	top: auto !important;
	bottom: 20px !important;
	margin-top: 0 !important;
	background-size: 35px auto !important;
}

.res_slide {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.type_1_row .res_slide_title {
	padding-top: 238px;
}

.type_1_row .res_slide_text {
	padding-bottom: 65px;
}

#bx-pager {
	margin-bottom: 15px;
	text-align: center;
}

#bx-pager a {
	color: #cca072;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	font-family: 'Gotham-Medium';
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none !important;
    padding: 0 12px;
}

#bx-pager a:hover, #bx-pager a.active {
	color: #fff !important;
}

#reservations_block_3 {
	margin-bottom: 50px;
	padding-bottom: 50px;
	position: relative;
	background: rgba(0, 0, 0, 0) url("images/menu_border.png") repeat-x scroll 0 bottom;
}

#res_slider2 .groups_title {
	font-size: 19px !important;
}

#res_slider2 .groups_text {
	font-size: 14px !important;
}

#res_slider2 .groups_text p {
	margin-bottom: 15px !important;
}

.ef_title {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
	margin: 0 0 5px 0;
	padding: 0;
}

.ef_text {
	font-size: 14px;
	line-height: 17px;
	color: #cca072;
	font-family: "Sentinel-MediumItalic";
	margin: 0 0 20px 0;
}

.ef_text p {
	margin: 0;
	padding: 0;
}

.ef_row {
	margin-bottom: 15px;
}

#res_slider2 label {
	display: block;
	color: #fff;
	font-size: 10px;
	font-family: 'Gotham-Medium';
	margin-bottom: 5px;
	font-weight: 400 !important;
}

#res_slider2 .wpcf7-text {
	background: #282828;
	border: 1px solid #b48e66;
	padding: 10px;
	width: 100%;
	margin: 0 0 20px 0;
	color: #fff;
}

#res_slider2 .wpcf7-textarea {
	background: #282828;
	border: 1px solid #b48e66;
	padding: 10px;
	width: 100%;
	height: 180px;
	margin: 0 0 20px 0;
	resize: none;
	color: #fff;
}

#res_slider2 .wpcf7-submit {
	background: #843b62;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
	padding: 15px 24px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    border: none;
}

#res_slider2 .wpcf7-submit:hover {
	background: #b48556;
	text-decoration: none;
}

#res_slider2 .select_dropdown {
	background-image: url('images/ef_dropdown.png');
	background-position: right 8px center;
	background-repeat: no-repeat;
}

.required_label {
	color: #686867;
	font-family: 'GothamBook';
	font-style: italic;
	font-size: 10px;
}

#booking_inquiry2, #booking_inquiry5, #booking_inquiry6 {
	background: #843b62;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
	padding: 15px 24px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#booking_inquiry2:hover, #booking_inquiry5:hover, #booking_inquiry6:hover {
	background: #b48556;
	text-decoration: none;
}

#res_slider2 label.error, #res_slider3 label.error {
	display: none !important;
}

#res_slider2 input.error, #res_slider3 input.error {
	border-color: #ed3636 !important;
}

#res_slider3 label {
	display: block;
	color: #fff;
	font-size: 10px;
	font-family: 'Gotham-Medium';
	margin-bottom: 5px;
	font-weight: 400 !important;
}

#res_slider3 .wpcf7-text {
	background: #282828;
	border: 1px solid #b48e66;
	padding: 10px;
	width: 100%;
	margin: 0 0 20px 0;
	color: #fff;
}

#res_slider3 .wpcf7-textarea {
	background: #282828;
	border: 1px solid #b48e66;
	padding: 10px;
	width: 100%;
	height: 180px;
	margin: 0 0 20px 0;
	resize: none;
	color: #fff;
}

#res_slider3 .wpcf7-submit {
	background: #843b62;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
	padding: 15px 24px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    border: none;
}

#res_slider3 .wpcf7-submit:hover {
	background: #b48556;
	text-decoration: none;
}

#res_slider3 .select_dropdown {
	background-image: url('images/ef_dropdown.png');
	background-position: right 8px center;
	background-repeat: no-repeat;
}

#res_slider3 .groups_title {
	font-size: 19px !important;
}

#res_slider3 .groups_text {
	font-size: 14px !important;
}

#res_slider3 .groups_text p {
	margin-bottom: 15px !important;
}

.reserve_button {
	background: #843b62;
	color: #fff !important;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
	padding: 15px 24px;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    display: inline-block;
    margin: 0 15px;
}

.reserve_button:hover {
	background: #b48556;
	text-decoration: none;
}

#reserve_buttons {
	margin-top: 30px;
}

#video_button_groups {
	margin-top: 20px;
}

#home_video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(polina.jpg) no-repeat;
	background-size: cover;
}

#groups_video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
}

#close_groups_video {
	color: #fff !important;
	font-size: 15px;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
	padding: 5px 11px;
	border: 1px solid #858687;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    display: inline-block;
    text-decoration: none !important;
    position: absolute;
    top: 30px;
    right: 60px;
    z-index: 35;
    cursor: pointer;
}

#close_groups_video:hover {
	background: #843b62 !important;
	text-decoration: none !important;
	color: #fff !important;
}

.centered_page .normal_page_title:after {
	left: 50% !important;
	margin-left: -22px !important;
}

#booking_an_event_link {
	color: #cca072 !important;
	text-decoration: underline;
}

#booking_an_event_link:hover {
	text-decoration: none !important;
}

.reserve_line_text ul {
	padding: 0 0 0 15px;
	margin: 0;
}

.reserve_line_text ul li {
	margin-top: 7px;
}

.hide_other {
	display: none;
}

.gotoslide_link {
	cursor: pointer;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.gotoslide_link:hover {
	color: #fff;
}

#food_dropdown_wrapper {
	width: 44.5% !important;
}

#ss-form3 .ef_text p {
	margin-bottom: 10px !important;
}

#another_book_an_event_link {
	color: #cca072;
	text-decoration: underline;
}

#another_book_an_event_link:hover {
	text-decoration: none;
}

.event_content a {
	color: #cca072 !important;
	text-decoration: underline !important;
}

.event_content a:hover {
	text-decoration: none !important;
}

.contact_text h4 {
	font-weight: 700;
	margin-top: 30px;
}

#event_popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;
	background: url('http://fultonalley.com/wp-content/uploads/2016/03/Screen-Shot-2016-03-16-at-2.18.42-PM.png') no-repeat center center rgba(1, 1, 1, 0.7);
	background-size: 500px 500px;
}

#event_popup_close {
	color: #fff !important;
	font-size: 15px;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
	padding: 5px 11px;
	border: 1px solid #858687;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none !important;
    position: absolute;
    top: 30px;
    right: 60px;
    z-index: 5001;
    cursor: pointer;
    display: inline-block;
}

#event_popup_close:hover {
	background: #843b62 !important;
	text-decoration: none !important;
	color: #fff !important;
}