
@font-face {
  font-family: 'Gotham-MediumItalic';
  src: url('Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('Gotham-MediumItalic.otf')  format('opentype'),
	     url('Gotham-MediumItalic.woff') format('woff'), url('Gotham-MediumItalic.ttf')  format('truetype'), url('Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
