
@font-face {
  font-family: 'Sentinel-Medium';
  src: url('Sentinel-Medium.eot?#iefix') format('embedded-opentype'),  url('Sentinel-Medium.otf')  format('opentype'),
	     url('Sentinel-Medium.woff') format('woff'), url('Sentinel-Medium.ttf')  format('truetype'), url('Sentinel-Medium.svg#Sentinel-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
