
@font-face {
  font-family: 'Sentinel-MediumItalic';
  src: url('Sentinel-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('Sentinel-MediumItalic.otf')  format('opentype'),
	     url('Sentinel-MediumItalic.woff') format('woff'), url('Sentinel-MediumItalic.ttf')  format('truetype'), url('Sentinel-MediumItalic.svg#Sentinel-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
