
@font-face {
  font-family: 'Sentinel-BoldItalic';
  src: url('Sentinel-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('Sentinel-BoldItalic.otf')  format('opentype'),
	     url('Sentinel-BoldItalic.woff') format('woff'), url('Sentinel-BoldItalic.ttf')  format('truetype'), url('Sentinel-BoldItalic.svg#Sentinel-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
