@media only screen and (max-width: 767px) {
    
    #mobile_header_wrapper, #mobile_footer_social {
        display: block !important;
    }

    body, body.home {
    	padding-top: 50px !important;
    }

    #mainmenu, #header-wrap, #home_header_top, .footer_social, #menu_nav_wrapper, #home_video, #video_overlay {
    	display: none !important;
    }

    #header-home-wrap {
    	background-image: url('../images/mobile_header_bg2.jpg') !important;
    }

    #logo {
	    left: 50% !important;
	    margin-left: -75px !important;
	    position: absolute !important;
	    width: 150px !important;
	    top: -90px !important;
	    margin-top: 0 !important;
    }

    #header {
    	padding-top: 90px;
    	position: relative;
    }

    #header-wrap {
    	height: auto !important;
    }

    #header_info {
    	text-align: center !important;
    }

    #top_title {
    	font-size: 30px !important;
    }

    #top_text {
    	font-size: 14px !important;
    }

    #top_image {
	    padding: 80px 0 !important;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.event_pic {
		margin: 0 0 20px 0;
	}

	#info_1 {
		float: none !important;
		width: 80% !important;
		margin: 0 10% 30px 10% !important;
	}

	#info_1 img {
		width: 100%;
	}

	#info_2 {
		float: none !important;
		border-left: none !important;
		border-right: none !important;
		border-bottom: 1px solid #766049 !important;
		width: 97.44% !important;
		padding: 15px 1.28% 20px 1.28% !important;
		margin-bottom: 30px !important;
	}

	#info_3 {
		float: none !important;
		width: 96% !important;
		padding: 15px 2% 15px 2% !important;;
	}

	#info_3_top .col-sm-4 {
		background: rgba(0, 0, 0, 0) url("images/dotted_border.png") repeat-x 0 bottom !important;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}

	 .widget_footer_about {
	 	margin-bottom: 45px;
	 	border-bottom: 1px solid #333;
	 }

	 #game_1, #game_2, #game_3, #game_4, #games_right, #games_right_right {
	 	float: none !important;
	 	width: 100% !important;
	 	margin-bottom: 2px !important;
	 }

	#menu_nav ul li a {
	    font-size: 13px !important;
	    padding: 0 15px !important;
	}

	.menu_part_title {
		font-size: 25px !important;
	}

	.menu_detail_title {
		font-size: 23px !important;
	}

	.groups_text, #groups_bottom img {
		margin-bottom: 30px;
	}

	#filters li a {
		margin: 0 1px !important;
	}

	.top_slider_slide {
		height: 325px !important;
	}

	#home_header_middle img {
		width: 80%;
		display: inline-block;
		/*margin-left: 10%;*/
		margin-top: 20px;
	}

	#home_middle_1, #home_middle_3 {
		width: 95% !important;
	}

	#home_buzz_left {
	    float: none !important;
	    width: 100% !important;
	    margin-bottom: 2px;
	}

	#home_buzz_right {
	    float: none !important;
	    width: 100% !important;
	}

	#home_buzz_left_1 .buzz_border .buzz_content, #home_buzz_right_6 .buzz_border .buzz_content {
	    height: 145px !important;
	}

	#home_buzz_right_1, #home_buzz_right_2 {
		float: none !important;
		width: 100% !important;
	}

	#home_buzz_right_3 {
		width: 100% !important;
		float: none !important;
		margin-bottom: 2px;
	}

	#home_buzz_right_right {
		width: 100% !important;
		float: none !important;
	}

	.home_bottom_box {
		margin-bottom: 20px;
	}

	.tweet_box {
		width: 90% !important;
	}

	#buzz_title {
		font-size: 24px !important;
	}

	.home_button {
		/*display: block !important;*/
		margin-bottom: 15px !important;
	}

	.home_bottom_box_inner {
	    height: auto !important;
	    padding-bottom: 20px !important;
	}

	.hb_form input[type="email"] {
		margin-right: -4px !important;
    	width: 145px !important;
	}

	.hb_form input[type="submit"] {
		font-size: 18px !important;
	    width: 90px !important;
	}

	.contact_li {
		margin-bottom: 30px !important;
	}

	#menu_nav_wrapper {
		position: relative !important;
	}

	.sticky {
		position: relative !important;
		top: 0 !important;
	}

	#home_body {
		padding-top: 50px !important;
	}

	.home_button {
		font-size: 13px !important;
	    margin: 0 2px !important;
	    padding: 12px 11px !important;
	}

	#home_header_bottom {
	    font-size: 17px !important;
	    line-height: 24px !important;
	}

	#home_header_middle {
		margin-bottom: 15px !important;
	}

	#home_top .row .col-sm-3 {
		margin-bottom: 50px;
	}

	.buzz_tweet_text {
		font-size: 13px !important;
    	line-height: 18px !important;
    	padding-bottom: 10px !important;
	}

	#home_buzz_right_2 .buzz_tweet_text, #home_buzz_right_3 .buzz_tweet_text {
	    padding-top: 30px !important;
	    padding-right: 2% !important;
	}

	#home_buzz_right_2 .buzz_border .buzz_content, #home_buzz_right_3 .buzz_border .buzz_content {
		height: 145px !important;
	}

	#home_buzz_right_5 .buzz_border .buzz_content {
		height: 177px !important;
	}

	.home_bottom_box_inner h3 {
		font-size: 17px !important;
	}

	.hb_cont {
		font-size: 14px !important;
	}

	#footer-wrap {
		padding: 40px 0 30px 0 !important;
	}

	.footer_address {
		font-size: 14px !important;
	}

	#info_3_bottom_top {
		font-size: 13px !important;
	}

	.footer_contact_left {
		margin-bottom: 30px !important;
	}

	#wrapper, .menu_details {
		background-size: 100% auto !important;
	}

	body.page-id-24 #top_image_wrapper #top_image {
	    padding: 38px 0 12px !important;
	}

	.time {
		font-size: 11px !important;
	}

	#price_listing .row {
		background: none !important;
	}

	.bx-wrapper .bx-pager {
		bottom: 17px !important;
	}

	#top_slider .bx-prev {
	    background-position: left center !important;
	    bottom: 10px;
	    left: 7px !important;
	    margin-top: 0 !important;
	    top: auto !important;
	    width: 43px !important;
	}

	#top_slider .bx-next {
	    background-position: right center !important;
	    bottom: 10px;
	    right: 7px !important;
	    margin-top: 0 !important;
	    top: auto !important;
	    width: 43px !important;
	}

	.day {
		font-size: 13px !important;
	}

	.better_events_left {
		margin-bottom: 50px;
	}

	#reserve_event_book {
		margin-bottom: 30px;
	}

	#reservations_block_2 #bx-pager a {
		display: block;
		margin-bottom: 10px;
	}

	.res_slide_image {
		padding-right: 0 !important;
	}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 90% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	#home_video, #video_overlay {
    	display: none !important;
    }

	#header-home-wrap {
    	background-image: url('../images/tablet_header_bg.jpg') !important;
    }

	#sidebar .widget-title {
		font-size: 16px !important;
	}

	#wrapper, .menu_details {
		background-size: 100% auto !important;
	}

	.open_days, .open_times {
		font-size: 14px !important;
	}

	#info_3_bottom_top {
		font-size: 13px !important;
	}

	#info_3_bottom_bottom {
		font-size: 10px !important;
	}

	.footer_phone {
	    font-size: 13px !important;
	    padding-left: 30px !important;
   	}

   	.footer_email {
   		font-size: 8px !important;
   		padding-left: 30px !important;
   	}

   	#mainmenu ul li {
	    padding: 0 1% !important;
	}

	#mainmenu ul li a {
		font-size: 13px !important;
	}

	#google_map {
		height: 400px !important;
	}

	#event_reg_panel p a {
		font-size: 11px !important;
	}

	#booking_inquiry {
	    font-size: 12px !important;
	    padding: 15px 11px !important;
	}

	#top_slider .bx-prev, #top_slider .bx-next {
		top: auto !important;
		bottom: 20px !important;
	}

	.bx-wrapper .bx-pager {
		bottom: 28px !important;
	}

	.happy_top_content {
		font-size: 13px !important;
	}

	.game_title {
		font-size: 28px !important;
	}

	.game_image_text {
	    width: 80% !important;
   	}

   	.game_text {
	    font-size: 15px !important;
	}

	.teaser {
		height: 470px !important;
	}

	#home_middle_1, #home_middle_3 {
		width: 95% !important;
	}

	.buzz_tweet_text {
	    font-size: 13px !important;
	    line-height: 19px !important;
	}

	.buzz_tweet_text {
		overflow: hidden;
	}

	.hb_form input[type="email"] {
		width: 150px !important;
	}

	.hb_form input[type="submit"] {
		padding-bottom: 8px !important;
	}

	.home_bottom_box_inner {
		height: 135px !important;
	}

}

@media only screen and (min-width: 992px) and (max-width: 1185px) {

	#home_middle_1, #home_middle_3 {
		width: 95% !important;
	}

	.container {
		width: 90% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.teaser {
		height: 425px !important;
	}

	.buzz_tweet_text {
		overflow: hidden;
	}

	.hb_form input[type="submit"] {
		padding-bottom: 8px !important;
	}

	.open_days {
		font-size: 19px !important;
	}

	.open_times {
		font-size: 13px !important;
	}

	#games #game_1 .bx-prev, #games #game_1 .bx-next {
		top: 270px !important;
	}

	.game_image_text {
		width: 80% !important;
	}

	.happy_top_content {
		font-size: 18px !important;
	}

	#event_reg_panel p a {
		font-size: 14px !important;
	}

	#google_map {
		height: 450px !important;
	}
}

@media only screen and (min-height: 701px) and (max-height: 850px) {
    /*#home_header_middle img {
    	height: 200px;
    }*/

    #home_header_top {
    	margin-bottom: 50px !important;
    }
}

@media only screen and (min-height: 650px) and (max-height: 700px) {
    /*#home_header_middle img {
    	height: 200px;
    }*/

    #home_header_top {
    	margin-bottom: 0px !important;
    }
}

@media only screen and (min-height: 550px) and (max-height: 649px) {
    #home_header_middle img {
    	height: 200px;
    }

    #home_header_top {
    	margin-bottom: 0px !important;
    }
}

@media only screen and (min-height: 450px) and (max-height: 549px) {
    #home_header_middle img {
    	height: 120px;
    }

    #home_header_top {
    	margin-bottom: 0px !important;
    }
}